* {
    box-sizing: border-box;
    margin: 0px;
}
.linklist {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linklist li {
    margin-right: 16px;
}
.linklist a {
    text-decoration: none;
}
.active{
    text-decoration: line-through;
    color: pink;
}
.linkcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 4px 4px 5px rgb(224, 218, 218);
    margin-bottom: 20px;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: antiquewhite;
    margin-top: 10%;
    
}
input[type=email], input[type=password] {
    width: 100%;
    height: 30px;
    margin: 5px;
   border-radius: 6px;
    padding: 15px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid gray;
}
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px 20px;
    width: 100%;
    font-size: 16px;
    background-color: orange;
    color: white;
    border: none;
}